header#top.header
  .text-vertical-center
    h1 El Camino Software
    h3 Tu tiempo vale mucho, no lo pierdas en tareas repetitivas
    br
    |  
    a.btn.btn-dark.btn-lg(href='#about' id="findOut") Descubrilo