section#about.about
  .container
    .row
      .col-lg-12.text-center
        h2 Creemos en el software que simplifica tus tareas. 
        p.lead
          | Identificamos las tareas repetitivas, que se llevan la mayor parte de tu tiempo, y las automátizamos dejando aquellas que no puede resolver un sistema y que son las que aportan valor a tu organización.
      