section#services.services.bg-primary
  .container
    .row.text-center
      .col-lg-10.col-lg-offset-1
        h2 Nuestros Servicios
        hr.small
        .row
          .col-md-6.col-sm-6
            .service-item
              span.fa-stack.fa-4x
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-cloud.fa-stack-1x.text-primary
              h4
                strong A Medida
              p Hacemos un relevamiento para detectar los puntos donde el software tenga mayor impacto positivo en sus procesos. Luego de un análisis, definimos 2 estrategías posibles para atacar el problema. Solo quedá que ud. elija las más conveniente para su organización
              br
              a.btn.btn-light(href='#') Me interesa está opción
          .col-md-6.col-sm-6
            .service-item
              span.fa-stack.fa-4x
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-compass.fa-stack-1x.text-primary
              h4
                strong Estándar 
              p Elijá entre una variedad de soluciones ya desarrolladas
              br
              a.btn.btn-light(href='#') Quiero ver el catágolo
          //- .col-md-3.col-sm-6
          //-   .service-item
          //-     span.fa-stack.fa-4x
          //-       i.fa.fa-circle.fa-stack-2x
          //-       i.fa.fa-flask.fa-stack-1x.text-primary
          //-     h4
          //-       strong Mobile Apps
          //-     p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          //-     |  
          //-     a.btn.btn-light(href='#') Learn More
          //- .col-md-3.col-sm-6
          //-   .service-item
          //-     span.fa-stack.fa-4x
          //-       i.fa.fa-circle.fa-stack-2x
          //-       i.fa.fa-shield.fa-stack-1x.text-primary
          //-     h4
          //-       strong Service Name
          //-     p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          //-     |  
          //-     a.btn.btn-light(href='#') Learn More
  //- aside.callout
  //-   .text-vertical-center
  //-     h1 Vertically Centered Text
