section#portfolio.portfolio
  .container
    .row
      .col-lg-10.col-lg-offset-1.text-center
        h2 Nuestros trabajos
        hr.small
        .row
          .col-md-6
            .portfolio-item
              a(href='#')
                img.img-portfolio.img-responsive(src='img/portfolio-1.jpg')
          .col-md-6
            .portfolio-item
              a(href='#')
                img.img-portfolio.img-responsive(src='img/portfolio-2.jpg')
          .col-md-6
            .portfolio-item
              a(href='#')
                img.img-portfolio.img-responsive(src='img/portfolio-3.jpg')
          .col-md-6
            .portfolio-item
              a(href='#')
                img.img-portfolio.img-responsive(src='img/portfolio-4.jpg')
        |  
        a.btn.btn-dark(href='#') Ver más
aside.call-to-action.bg-primary
  .container
    .row
      .col-lg-12.text-center
        h3 Empiece hoy a ganar tiempo
        |  
        a.btn.btn-lg.btn-light(href='#') Contactanos
        |  
        a.btn.btn-lg.btn-dark(href='#') Datos de contacto