footer#contact
  .container
    .row
      .col-lg-10.col-lg-offset-1.text-center
        h4
          strong El Camino Software
        p
          |
          br
          | Bella Vista, Buenos Aires
        ul.list-unstyled
          li
            i.fa.fa-phone.fa-fw
            | +54.11.2234.9046
          li
            i.fa.fa-envelope-o.fa-fw
            |  
            a(href='mailto:info@elcaminosoftware.com') info@elcaminosoftware.com
        br
        ul.list-inline
          li
            a(href='#')
              i.fa.fa-facebook.fa-fw.fa-3x
          li
            a(href='#')
              i.fa.fa-twitter.fa-fw.fa-3x
          li
            a(href='#')
              i.fa.fa-dribbble.fa-fw.fa-3x
        hr.small
        p.text-muted Copyright &copy; Your Website 2014
  a#to-top.btn.btn-dark.btn-lg(href='#top')
    i.fa.fa-chevron-up.fa-fw.fa-1x